/* 
font-family: "Anton", cursive;
font-family: "Open Sans", sans-serif;

Text color : #333;
Dark blue : #345995;
Light blue : #4392f1;
Red : #d7263d
Yellow : #eac435;
Orange : #f46036;
*/


body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif; /* Corrected: Added closing quote */
  font-size: 15px;
  background-color: white;
  color: #333;
}

.wrap {
  margin: 0 auto;
  padding: 0;
  width: 1000px;
}

h1, h2 { /* Corrected: Space after comma for consistency, though not strictly required */
  margin: 0;
  padding: 0;
  font-family: "Anton", cursive; /* Corrected: Added closing quote for Anton */
  font-weight: normal;
}

h1 {
  font-size: 110px;
}

h2 {
  font-size: 30px;
}

/* Spacer Classes */
.spacer.v20 {
  height: 20px;
}

.spacer.v40 {
  height: 40px;
}

.spacer.v80 {
  height: 80px;
}

.clear {
  clear: both;
}

/* Promo, Subscribe, Footer Base Styles */
#promo,
#subscribe,
#footer {
  text-align: center;
  color: #fff;
  min-width: 1000px;
}

#promo {
  background-color: #f46036;
}

#promo > div { /* Corrected: Added space around '>' for better readability, though not required */
  padding: 15px;
}

/* Top Menu Section */
#topMenu {
  height: 60px; /* Corrected: Added missing semicolon */
}

#topLinks {
  float: right;
  padding-top: 20px;
}

#topLinks ul,
#footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#topLinks li a {
  color: #333;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  -webkit-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  transition: all 250ms ease-out; /* Added standard property for completeness */
}

#topLinks li a:hover {
  color: #4392f1;
  -webkit-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  transition: all 250ms ease-out; /* Added standard property for completeness */
  text-decoration: underline;
}

#topMenu .logo {
  float: left;
  padding-top: 13px;
  font-size: 24px;
  color: #333;
  text-decoration: none;
}

#topMenu .logo:hover {
  color: #4392f1; /* Corrected: Added missing semicolon */
}

.logo {
  font-family: "Anton", cursive;
}

/* Banner Section */
#banner {
  background-image: url("pet_shop_resources/images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  text-align: center;
  padding-top: 300px;
  color: #333;
}

#banner .logo {
  margin-top: 20px;
}

#banner #action { /* Corrected: Removed space between # and action */
  font-weight: bold;
  width: 200px; /* Corrected: Added missing semicolon */
  margin: 20px auto 0 auto;
}

#banner #action a {
  -webkit-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  padding: 20px;
  color: white;
  text-decoration: none;
  border-radius: 30px; /* Corrected: Typo 'boreder-radius' to 'border-radius' */
  background-color: #4392f1;
}

#banner #action a:hover {
  -webkit-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  background-color: #f46036;
  padding: 20px 40px;
}

/* Feature Section (Fish & Dog) */
.feature .leftColumn {
  width: 50%;
  float: left;
  text-align: center;
}

.feature .rightColumn { /* Corrected: Added space after '.' for consistency */
  margin-left: 50%;
  width: 50%;
  text-align: center;
}

.feature .leftColumn .text,
.feature .rightColumn .text {
  padding: 80px 20px 20px 20px;
  min-height: 260px;
}

.feature .leftColumn .text a,
.feature .rightColumn .text a {
  -webkit-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  padding: 20px;
  background-color: #4392f1;
  color: white;
  text-decoration: none;
  border-radius: 30px; /* Corrected: Typo 'boreder-radius' to 'border-radius' */
}

.feature .leftColumn .text a:hover,
.feature .rightColumn .text a:hover {
  -webkit-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  background-color: #f46036;
  text-decoration: none;
  padding: 20px 40px;
}

.feature hr {
  background-color: #333;
  height: 1px;
  border: 0;
  width: 50px;
}

.featureImage {
  width: 500px;
}

.feature .leftColumn .text a.emailLink,
.feature .rightColumn .text a.emailLink {
  color: white;
  text-decoration: none;
  transition: none;
  padding: 10px;
  border: 0;
  background-color: #4392f1;
}

.feature .leftColumn .text a.emailLink:hover,
.feature .rightColumn .text a.emailLink:hover {
  -webkit-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  background-color: #f46036;
}

/* Middle Image Section */
.middleImage {
  text-align: center;
}

.middleImage img {
  max-width: 1000px;
}

/* Scroll To Top Button */
#scrollToTop {
  display: none;
  opacity: .5;
  background-color: #f46036;
  padding: 0 20px;
  color: white;
  width: 26px;
  font-size: 40px;
  line-height: 48px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  border: 1px solid white; /* Corrected: Semicolon after 'bottom: 10px' */
  border-radius: 30px;
}

#scrollToTop:hover {
  opacity: 1;
  -webkit-transition: all 250ms linear;
  -ms-transition: all 250ms linear;
  transition: all 250ms linear;
  cursor: pointer;
}

/* Contact Map Section */
.contactMap {
  width: 100%;
  height: 400px;
}

/* Subscribe Section */
#subscribe {
  background-color: #4392f1;
  height: 160px;
  padding-top: 40px;
}

#subscribe h2 {
  margin: 15px 0 20px 0;
  color: white;
  font-size: 24px;
  font-family: "Open Sans", sans-serif; /* Corrected: Added closing quote */
  font-weight: bold;
}

#subscribe input[type=text] {
  border: 0;
  width: 250px;
  height: 28px;
  font-size: 14px;
  padding: 0 10px;
  border-radius: 30px;
}

#subscribe input[type=submit] {
  border: 0;
  width: 80px;
  height: 30px;
  font-size: 14px;
  background-color: #345995;
  color: white;
  border-radius: 30px;
  -webkit-transition: all 500ms ease-out;
  -ms-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  cursor: pointer;
}

#subscribe input[type=submit]:hover { /* Corrected: Typo 'inoput[type-submit]' to 'input[type=submit]' */
  background-color: #f46036;
  -webkit-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}
